$darkPrimaryColor : #F57C00;
$lightPrimaryColor: #FFE0B2;
$primaryColor: #FF9800;
$text: #212121;
$icons: #212121;
$accentColor: #009688;
$primaryText: #212121;
$secondaryText: #757575;
$dividerColor: #BDBDBD;
